@import './contentItemParagraph.scss';

.content__item {
  position: relative;
  top: 0;
  display: flex;
  overflow: hidden;
  height: 0;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  pointer-events: auto;
  color: #fff;
  align-items: center;
}

.content__item p {
  @extend .item-paragraph;
}

.content__item--reset {
  height: auto;
}

.content__item-center {
  text-align: center;
}

.content__item-justify {
  text-align: justify;
}

.content__item-left {
  text-align: left;
}

.content__item-right {
  text-align: right;
}