@import './contentItemParagraph.scss';

.footer {
  color: #7c7c7c;
  text-align: center;
  font-weight: 100;
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 13px;
}

.footer > p {
  @extend .item-paragraph;
  > a {
    color: white;
    font-weight: bolder;
  }
}
