@import '../../styles/settings.scss';
/*
**
*** Intro Styles
**
*/

.portfolio
{
  display: flex;
  flex-direction: column;
  height: 78%;
  width: 100%;
  position: absolute;
  justify-content: center;
}