@import '../../styles/core/icon.scss';
/*
**
*** SliderNav Styles
**
*/
.slider__nav {
  position: fixed;
  bottom: 2em;
  width: 100%;
  text-align: center;
}

.button {
  font-size: 1.31em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 25px;
  padding: 0;
  cursor: pointer;
  color: #5c5edc;
  border: none;
  background: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: #fff;
}

.text-hidden {
  position: absolute;
  top: 200%;
}

.button--close {
  font-size: 1.55em;
  position: absolute;
  top: 30px;
  left: 30px;
  margin: 0;
  opacity: 0;
  color: #50505a;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.icon--zoom:before {
  content: "\e036";
}
.icon--arrow-right:before {
  content: "\e600";
}
.icon--arrow-left:before {
  content: "\e601";
}