@import 'settings';
@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  src: url('./fonts/fontello/fontello.eot');
  src: url('./fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
  url('./fonts/fontello/fontello.woff') format('woff'),
  url('./fonts/fontello/fontello.ttf') format('truetype'),
  url('./fonts/fontello/fontello.svg') format('svg');
} /* Made with http://icomoon.io/ */

/*
Style Guide Lines. Remove if you prefer your own library
 */

/* Resets */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body,
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #CECECE;
  background: #222125;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #5C5EDC;
  outline: none;
}

a:focus {
  color: #ddd;
}

a:hover {
  color: #fff;
}