@import './settings.scss';
@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/fontello/fontello.eot');
  src: url('/fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
  url('/fonts/fontello/fontello.woff') format('woff'),
  url('/fonts/fontello/fontello.ttf') format('truetype'),
  url('/fonts/fontello/fontello.svg') format('svg');
} /* Made with http://icomoon.io/ */

@font-face {
  font-family: 'feather';
  src:url('/fonts/feather/feather.eot?-ajbl0g');
  src:url('/fonts/feather/feather.eot?#iefix-ajbl0g') format('embedded-opentype'),
    url('/fonts/feather/feather.ttf?-ajbl0g') format('truetype'),
    url('/fonts/feather/feather.woff?-ajbl0g') format('woff'),
    url('/fonts/feather/feather.svg?-ajbl0g#feather') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
Style Guide Lines. Remove if you prefer your own library
 */

/* Resets */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body,
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
  color: #CECECE;
  background: #222125;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #5C5EDC;
  outline: none;
}

a:focus {
  color: #ddd;
}

a:hover {
  color: #fff;
}