
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$font-family: 'Montserrat', Helvetica, Arial, sans-serif;

$font-small: 12px;
$font-medium: 16px;
$font-large: 21px;
$font-x-large: 28px;

$black: #000;
$color-white: #fff;
$color-dodger-blue: #2196F3;
$color-salem: #0F9D58;
$color-punch: #db4437;

$global-radius: 4px;

// Color Scheme

// Basic colors 
$primary: #6699FF; // light blue
$secondary: #F5EDE3; // light tan
$tertiary: #E1D4C0; // mid tan
$quadrant: #104386; // dark blue
$fracture: #FF6600; // orange
$black: #333333; // off black

// Create a map for your theme
$stoic: (
  bg: $secondary,
  fg: $quadrant,
  txt: $quadrant,
  blk: $black,
  one: $primary,
  two: $secondary,
  three: $tertiary,
  four: $quadrant,
  five: $fracture
);

// Simply change the variable $theme
$theme: $stoic;

// Color setting helper function
@function themeColor($key) {
  $val: map-get($theme, $key);
  @return $val;
}