/*
**
*** Contact Styles
**
*/

/* .contact
*/
.contact
{
	@include rem(font-size, 16px);
}

/* #contact__header
*/
#contact__header
{
	font-size: em(46);
	font-family:  $font_2;
	color: themeColor(one);
}

/* #contact__header_sub-title
*/
#contact__header_sub-title
{
	font-size: em(20);
	font-family:  $font_2;
	color: themeColor(five);
}

/* #contact__x
*/
#contact__email, #contact__phonenumber
{
	font-size: em(20);
}

