/*
**
*** NavBar Styles
**
*/


/* .navbar
*/
.navbar
{
  @include rem(font-size, 16px);
  background: themeColor(four);
  border: none;
  min-height: 50px;
}

@media (min-width: 768px) {
  .navbar-header {
    float: right; } }

/* #brand
*/
#brand
{
  padding: em(10) 0 0 em(5);
  font-size: em(32);
  transition: color 0.5s ease;
  @include respond-to(sxs)
  {
    font-size: em(32);
    padding: em(10) 0 0 em(10);
  }
}

a.navbar-brand:hover
{
  color: themeColor(five);
}

/* #active__page_container
*/
#active__page_container
{
  color: themeColor(five);
  background: themeColor(four);
  border: none;
  @include rem(margin-top, 10px);
  @include rem(padding, 5px 10px);
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: em(19);
  -webkit-transform: translateX(-50%) translateY(-50%); 
  transform: translateX(-50%) translateY(-50%); 
  cursor: default;
  @include respond-to(xs)
  {
    font-size: em(22);
  }
}

/* #active__page
*/
#active__page
{
  color: themeColor(one);
}


/* .navbar-header.pull-right
*/
.svg__container
{
    
    height: 0;
    position: absolute;
    padding-top: 1%;
    top: 0;
    right: 0;
    svg {
    position: absolute;
    top: 0;
    left: 0;
    }
}
.svg__container.one
{
  margin: em(12) em(80) 0 0;
  width: em(39);
}

.svg__container.two
{
  margin: em(3) em(20) 0 0;
  width: em(52);
}

/* .paper-plane
*/
.paper-plane
{
  fill: themeColor(two);
  transition: fill 0.5s ease;
}

/* .three-bars
*/
.three-bars
{
  fill: themeColor(one);
  transition: fill 0.5s ease;
}

/* .nav-expander
*/

a.nav-expander {
  color: $black;  text-decoration: none;
  transition: right 0.3s ease-in-out 0s;
  z-index: 12;
}

a.nav-expander:hover {
  cursor: pointer;
}

.nav-expanded a.nav-expander.fixed {
    right: 10em;
}

/* #nav__main-menu
*/
#nav__main-menu
{
  border: none;
}
