.button {
  font-size: 1.31em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 25px;
  padding: 0;
  cursor: pointer;
  color: #5c5edc;
  border: none;
  background: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: #fff;
}