.content__item {
  position: relative;
  top: 0;
  display: flex;
  overflow: hidden;
  height: 0;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  pointer-events: none;
  color: #fff;
  align-items: center;
}

.content__item--header-large {
  font-size: 3.5em;
  font-weight: normal;
  margin: 0;
  text-align: center;
  color: #fff;
}

.content__item--header-medium {
  font-size: 1.95em;
  font-weight: normal;
  margin: 0.25em 0;
  color: #685884;
}

.content__item--current {
  pointer-events: auto;
}

.content__item--reset {
  height: auto;
}

.content__item p {
  font-size: 1.25em;
  line-height: 1.5;
}

.content__item-img {
  display: block;
  max-width: 80px;
  max-height: 80vh;
  flex: none;
  margin: 100px auto 60px;
}

.content__item-inner {
  padding: 0 10vw 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content__item-inner h2,h3{
  text-align: center;
}

.content__item-center {
  text-align: center;
}

.content__item-justify {
  text-align: justify;
}

.content__item-left {
  text-align: left;
}

.content__item-right {
  text-align: right;
}