.content__item {
  position: relative;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 0;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  pointer-events: none;
  color: #fff;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content__item--current {
  pointer-events: auto;
}

.content__item--reset {
  height: auto;
}

.content__item p {
  font-size: 1.25em;
  line-height: 1.5;
}

.content__item-inner {
  padding: 0 10vw 0;
  -webkit-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content__item-inner h2,h3{
  text-align: center;
}

.content__item-center {
  text-align: center;
}

.content__item-justify {
  text-align: justify;
}

.content__item-left {
  text-align: left;
}

.content__item-right {
  text-align: right;
}

/**************************/
/* All synced transitions */
/**************************/

.content__item-inner {
  -webkit-transition: -webkit-transform 0.6s, opacity 0.3s;
  transition: transform 0.6s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
  transition-timing-function: cubic-bezier(0.7,1,0.8,1), ease;
}

.content__item--current .content__item-inner {
  -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
  transition-timing-function: cubic-bezier(0.2,1,0.3,1), ease;
  -webkit-transition-duration: 1.7s;
  transition-duration: 1.7s;
}