.bp-icon:after {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  text-transform: none;
  color: #5C5EDC;
  speak: none;
  -webkit-font-smoothing: antialiased;
}