/*
**
*** About Styles
**
*/

/* .about
*/
.about
{
	@include rem(font-size, 16px);
}


/* #about__header
*/

#about__header 
{
	font-size: em(36);
	padding-bottom: em(20);
	text-transform: uppercase;
}

/* #about__description
*/

#about__description 
{
	font-size: em(18);
	padding: em(10);
	width: em(290);
	margin: 0 auto;
	@include respond-to(sxs)
	{
		width: em(380);
	}
}
