@import '../../styles/core/flexbox.scss';
/*
**
*** Slider Styles
**
*/
.slider {
  display: flex;
  flex-direction: column;
  height: 68%;
  width: 100%;
  position: absolute;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.slide {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  opacity: 0;
}